@font-face {
    font-family: 'simvoni';
    src: url('https://meower.org/Simvoni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'simvonib';
    src: url('https://meower.org/Simvoni-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'simvoni', sans-serif;
    background-color: #272727;
    color: white;
}

button {
    background: none;
    border: none;
    color: white;
}

.topnav {
    background-color: #333;
    position: sticky;
}

.topnav-inner {
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    max-height: 54px;
}

.topnav-inner a, .topnav-inner button {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav-inner .left {
    float: left;
}

.topnav-inner .right {
    float: right;
}

div.heading {
    position: relative;
    display: flex;
    align-items: center;
}

div.heading > div.options {
    position: absolute;
    right: 0;
    display: flex;
    gap: 0.5em;
}

.page {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
}

.container {
    padding: 1em;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.container a {
    color: #4179c8;
}